* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --mainColor: #00bcd4;
    --mainFont: "Roboto", sans-serif;
}


.font-family {
    font-family: var(--mainFont);
}

.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.ls-2 {
    letter-spacing: 2px;
}

.bg-main {
    background-color: var(--mainColor);
}

.color-main {
    color: var(--mainColor);
}

/* start top header */
.top-header {
    background-color: #f8f8f8;
}

.top-header span {
    font-size: 14px;
    color: #AAAAAA;
    font-family: var(--mainFont);
}

.top-header h6 {
    font-size: 14px;
    color: var(--mainColor);
    font-family: var(--mainFont);
}

.top-header h3 {
    color: var(--mainColor);
    font-family: var(--mainFont);
    line-height: 0.5;
}

.logo span {
    font-size: 12px;
    font-family: var(--mainFont);
}

.logo h3 {
    font-weight: 900;
}

/* end top header */

/* start navbar */
.navbar {
    background-color: #ebebeb;

}

.navbar .btn {
    background-color: var(--mainColor);
}

.nav-link {
    color: rgba(0, 0, 0, 0.5);

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--mainColor);
}

.navbar-toggler {
    border: none;
    box-shadow: none;

}

.navbar-toggler .navbar-toggler-icon {
    color: white;
}

.navbar span {
    font-size: 14px;
}
.navbar a{
    transition: all 0.5s ease;
}
.navbar a:hover{
    color: var(--mainColor) !important;
}


@media screen and (max-width: 991px) {
    .navbar-expand-lg {
        background-color: var(--mainColor);
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show,
    .nav-link {
        color: white;
    }

    .navbar .btn {

        background-color: rgba(255, 255, 255, 0.3);

    }
}

@media screen and (max-width: 350px) {
    .navbar .btn {

        font-size: 12px;

    }

    .navbar span {
        font-size: 12px;
    }

}

/* end navbar */

/* start hero */
.carousel-indicators [data-bs-target] {
    background-color: white;
    width: 11px;
    height: 11px;

}

.carousel-indicators .active {
    background-color: #00bcd4;

}

.carousel .overlay {
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel .hero-content {
    width: 40%;
}

.carousel .hero-content h1 {
    font-size: 60px;
}

.carousel .hero-content button {

    transition: box-shadow 0.5s ease;

}

.carousel .hero-content button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.carousel .hero-content .btn1:hover {
    background-color: var(--mainColor);

}

.carousel .hero-content .btn2:hover {
    background-color: white;

}

.carousel .hero-content .btn2:hover {
    color: var(--mainColor);

}


@media screen and (max-width: 1000px) {
    .carousel .overlay {
        width: 100%;

    }

    .carousel .hero-content {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    .carousel .overlay {
        width: 100%;
    }

    .carousel .hero-content {
        width: 100%;
    }

    .carousel .hero-content h1 {
        font-size: 40px;
    }

    .carousel .hero-content .btns {
        flex-direction: column;
    }
}

/* end hero */
/* start appoitment */
.appoitment {
    width: 100%;
    overflow-x: hidden;


}

.form-control {

    border-bottom: 1px solid rgba(255, 255, 255, 0.7);

}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--mainFont);
    font-size: 14px;
    font-weight: bold;


}
.appoitment .form-select, .appoitment input[type="date"], .appoitment input[type="time"]{
    color: rgba(255, 255, 255, 0.7);
}
.appoitment input[type="date"]::-webkit-calendar-picker-indicator,
.appoitment input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 20% ;

}



.appoitment .services {

    background-color: #f8f8f8;
}

.appoitment .services p {
    color: #AAAAAA;
    line-height: 2;
}

.appoitment .services .service-card,
.appoitment .services .service-card p,
.appoitment .services .service-card h4,
.appoitment .services .service-card .img2,
.appoitment .services .service-card .img1 {
    transition: all 0.5s ease !important;
}

.appoitment .services .service-card .img2 {
    display: none;
}

.appoitment .services .service-card:hover {
    background-color: var(--mainColor) !important;
}

.appoitment .services .service-card:hover,
.appoitment .services .service-card:hover p,
.appoitment .services .service-card:hover h4 {
    color: white;
}

.appoitment .services .service-card:hover,
.appoitment .services .service-card:hover .img1 {
    display: none;
}

.appoitment .services .service-card:hover,
.appoitment .services .service-card:hover .img2 {
    display: block;
}

.appoitment input:focus,
.appoitment .form-select:focus {
    border-color: transparent;
    border-bottom: 2px solid #fff;
    box-shadow: none;
    outline: none;
}

.appoitment textarea:focus {
    border: 2px solid #fff;
    box-shadow: none;
    outline: none;
}



@media screen and (min-width:1200px) {
    .appoitment .services {
        padding-top: 80px !important;
        padding-left: 40px !important;
        padding-bottom: 80px !important;
        padding-right: 120px !important;
        background-color: #f8f8f8;
    }

    .appoitment .form {
        padding-left: 130px !important;
        padding-right: 50px !important;
        padding-top: 40px !important;


    }

}

/* end appoitment */

/* start services */
.tc-services{
    background-color: #f0f0f0;
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.tc-services .service-card {
    transition: all 0.5s ease;
}
.tc-services .service-card .service-img{
    width: 100px;
    height: 100px;
    position: relative;
}


.tc-services .service-card .service-img::before {
  content: "";
  position: absolute;
  top: -24px;  
  left: 50%;   
  transform: translateX(-50%);
  width: 2px;  
  height: 24px; 
  background-color: #aaaaaa4f; 
  transition: all 0.5s ease;
}

.tc-services .service-card .service-info h4{

     transition: all 0.5s ease;
}

.tc-services .service-card .service-info p{
    color:#AAAAAA;
    width: 97%;
    line-height: 1.8;
     transition: all 0.5s ease;
}

.tc-services .service-card:hover{
    background-color: var(--mainColor) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.tc-services .service-card:hover h4,
.tc-services .service-card:hover p
{
    color: white !important;
}
.tc-services .service-card:hover .service-img
{
    background-color: rgba(255, 255, 255, 0.3) !important;
}
.tc-services .service-card:hover .service-img::before {
  
  background-color:  rgba(255, 255, 255, 0.3) !important; 
}


/* end services */

/* start about */
.about{
    overflow-x: hidden;
    background-color: #f8f8f8;
}
.about .about-img {
    background-image: url(../img/about/about.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 48%;
   
    
}
.about .about-info{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.about .about-info h2{
    font-size: 38px;
}
.about .about-info p{
    color: #AAAAAA;
    line-height: 1.8;
}

.about .about-info .statistics .stat{
    border: #00bcd4 1px solid;
}
.about .about-info .statistics .stat h6{
    color: #AAAAAA;

    word-wrap: break-word; 
    line-height: 1.6;
    font-weight: normal;
}
@media (max-width: 1400px) and (min-width:1100px) {
  .about .about-info .statistics .stat h6 {
    font-size: 14px !important; 
  }
}
@media (max-width: 1099px) and (min-width:992px) {
  .about .about-info .statistics .stat h6 {
    font-size: 12px !important; 
  }
}



/* end about */

/* start doctors */
.doctors{
    padding-top: 120px;
    padding-bottom: 120px;
}
.doctors .row{
    row-gap: 60px;
}
.doctors .card {
  position: relative;
  transition: all 0.5s ease;
  height: 100%;
}
.doctors h2{
    margin-bottom: 150px;
}
.doctors .doc-img {
    width: 200px;
    height: 200px;
  border-top-left-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
  margin-top: -100px; 
  position: relative;
  z-index: 10;
  border: #f8f8f8 10px solid;
  
}
.doctors .doc-img img{
    width: 100%;
  height: 100%;
  object-fit: cover;
}
.doctors .card-body h5 {
    transition: all 0.5s ease;
}
.doctors .card-body span {
    letter-spacing: 2px;
    transition: all 0.5s ease;
}
.doctors .card-body .text-info{
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
}
.doctors .card-body p{
    color:#AAAAAA;
    line-height: 1.8;
    transition: all 0.5s ease;
}
@media (max-width: 992px) {
  .doctors {
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .doctors .doc-img {
    width: 150px;
    height: 150px;
    margin-top: -90px;
  }
  .doctors h2{
    margin-bottom: 100px;
}
 
}

@media (max-width: 576px) {
  .doctors h2 {
    font-size: 1.8rem;
  }

  .doctors .card-body .text-info {
    width: 32px;
    height: 32px;
  }
}
.doctors .card:hover {
  background-color: var(--mainColor);
}
.doctors .card:hover .card-body h5,.doctors .card:hover .card-body span{
    color: white;
}
.doctors .card:hover .text-info{
    background-color: rgba(255, 255, 255, 0.3);
}
.doctors .card:hover .card-body p{
    color: rgba(255, 255, 255, 0.7);
}

/* end doctors */

/* start make-appoitment */
.make-appoitment {
    background: url('../img/public/bg_1.jpg') no-repeat center center/cover;
}

.make-appoitment .overlay {


    background-color: rgba(0, 198, 212, 0.8);
}
.make-appoitment span, .make-appoitment button{
    letter-spacing: 2px;
    transition: all 0.5s ease;
}
.make-appoitment h2{
    font-size: 30px;
    line-height: 1.5;
}
.make-appoitment .btn:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--mainColor);
}

/* end mke-appoitment */

/* start stories */
.stories{
    padding: 120px 0 0;
    background-color: #f0f0f0;
}
.stories .story1{
    background-image: url(../img/stories/result-1.jpg);
    height: 350px;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.stories .story2{
    background-image: url(../img/stories/result-2.jpg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.stories .story3{
    background-image: url(../img/stories/result-3.jpg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.stories .story4{
    background-image: url(../img/stories/result-4.jpg);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.stories .space{
    width: 100%;
    height: 70%;
}
.stories .story-info{
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: all 0.5s ease;
}
.stories .story:hover .story-info{
    opacity: 100%;
}



/* end stories */

/* start our-blog */
.our-blog{
    padding: 120px 0;
    background-color: #f8f8f8;
}
.our-blog .blog-item .card-body .post-time{
    font-size: 13px;
    color: #AAAAAA;
}
.our-blog .blog-item .card-body h5{
    line-height: 1.6;
}
.our-blog .blog-item .card-body .card-text{
    color: #AAAAAA;
    line-height: 1.8;
}


/* end our-blog */

/* start our-pricing */
.our-pricing{
    padding: 0 0 140px;
    background-color: #f8f8f8;
}
.our-pricing .price{
    border: #eae9e9 solid 1px;
    transition: all 0.5s ease; 
   transform: scale(1);
    
}
.our-pricing .price p{
    color: #AAAAAA;
    font-weight: 500;
    
}
.our-pricing .price span{
    letter-spacing: 2px;
}
.our-pricing .price button{
    width: 60%;
     box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.our-pricing .price button:hover{
    background-color: var(--mainColor);
}
.our-pricing .price:hover{
   transform: scale(1.02); 
  background-color: #fffefe;
  border: 0 #f0f0f0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    
}
.our-pricing .price:hover button{
   
  box-shadow: 0 8px 15px #f8f8f8;
    
}

/* end our-pricing */

/* start footer */
.footer {
    background: url('../img/public/bg_1.jpg') no-repeat center center/cover;
}

.footer .overlay {


    background-color: rgba(84, 198, 212, 0.9);
}

.footer h3 {
    font-family: var(--mainFont);
    line-height: 0.5;
    font-weight: 900;
}

.footer .info p {
    line-height: 2;
    width: 90%;
}

.footer .info .icons .fa-facebook-f {
    padding: 8px 11px;

}

.footer li a {
    transition: color 0.5s ease !important;
}

.footer li a:hover {
    color: var(--mainColor) !important;
}

.footer .r-posts .post img {
    width: 50px;
    height: 50px;
}

.end-footer {
    background-color: var(--mainColor);
    font-weight: 500;
}

.end-footer .heart {
    color: white;
}

/* end footer */